// - Variables

$fastTransition: 0.3s;
$slowTransition: 0.5s;

// - Main Rules
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  // - Weights: 400, 700
  font-family: "Space Mono", monospace;
  background: linear-gradient(to bottom, $backgroundFrom, $backgroundTo);
  min-height: 100vh;
  color: white;
}
a {
  text-decoration: none;
}
ol {
  list-style-position: inside;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
// - Container
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
// - Classes
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.mg-auto {
  margin: 0 auto;
}
// # Main
main.main {
}
