$primaryCyan: hsl(180, 66%, 49%);
$primaryCyanHover: hsl(180, 60%, 70%);
$primaryViolet: hsl(257, 27%, 26%);
$secondaryRed: hsl(0, 87%, 67%);
$neutralGray: hsl(0, 0%, 75%);
$neutralGrayish: hsl(257, 7%, 63%);
$neutralBlue: hsl(255, 11%, 22%);
$neutralViolet: hsl(260, 8%, 14%);
$lightTextColor: white;
$gray: hsl(230, 25%, 95%);
$fastTransition: 0.3s;
$slowTransition: 0.5s;
$headerHeight: 100px;
$sectionPaddingTop: 50px;
$sectionPaddingBottom: 50px;
